{% extends 'main/app.html' %}

{% block title %}- Export Pedidos{% endblock title %}

{% block content %}

{% load static %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js%22%3E"></script>
<div class="section">
    <div class="column">
        <div class="columns is-centered">

        <div class="column is-7">

            <h1 class="title has-text-centered">Export Pedidos</h1>
            <div id="error" {% if error %}style="display: block;"{% endif %}>{{ error }}</div>
            <div id="success" {% if success %}style="display: block;"{% endif %}>{{ success }}</div>
            <div class="has-text-centered">
                <form method="POST" action="{% url 'main:export' %}">
                    {% csrf_token %}
                    <button class="export-button blue" type="submit">Export Pedidos UC</button>
                </form>
            </div>
            <div class="has-text-centered">
                <form method="POST" action="{% url 'main:exportSalas' %}">
                    {% csrf_token %}
                    <button class="export-button green" type="submit">Export Pedidos Sala</button>
                </form>
            </div>
            <div class="has-text-centered">
                <form method="POST" action="{% url 'main:exportHorarios' %}">
                    {% csrf_token %}
                    <button class="export-button orange" type="submit">Export Pedidos Horario</button>
                </form>
            </div>
            <div class="has-text-centered">
                <form method="POST" action="{% url 'main:exportOutros' %}">
                    {% csrf_token %}
                    <button class="export-button purple" type="submit">Export Pedidos Outros</button>
                </form>
            </div>
        </div>
    </div>
</div>

<style>
    #error {
        display: none;
        background-color: red;
        text-align: center;
        color: white;
        padding: 10px;
        border-radius: 5px;
        top: 50%;
        left: 50%;
    }

    #success {
        display: none;
        background-color: green;
        text-align: center;
        color: white;
        padding: 10px;
        border-radius: 5px;
        top: 50%;
        left: 50%;
    }

    .has-text-centered {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }
    
    .export-button {
        font-size: 20px;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        width: 400px;
        height: 50px;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .export-button.blue {
        background-color: #63C5DA;
        color: white;
    }
    
    .export-button.green {
        background-color: #63C5DA;
        color: white;
    }
    
    .export-button.orange {
        background-color: #63C5DA;
        color: white;
    }
    
    .export-button.purple {
        background-color: #63C5DA;
        color: white;
    }
</style>

{% endblock content %}
