{% load static %}
<!DOCTYPE html>
<head>

    <title>tHIS IS PAGE home</title>
    <link rel="stylesheet" href="{% static 'homedesign.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  
<!-- The navigation menu -->
<div class="navbar">
  <a href="home">
    <img src="{% static 'logo.png' %}" alt="Logo" class="logo-img">
  </a>
  <div class="dropdown">
    <button class="dropbtn">Pedidos 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
      <a href="">Sala</a>
      <a href="horario">Horario</a>
      <a href="uc">Unidade Curricular</a>
      <a href="#"> Outros</a>
    </div>
  </div> 
  <a href="" class="pedidos"> Os meus Pedidos</a>
  <a href="contact" class="navbar-right"> Login</a>
</div>
</div> 


    <h1> this con</h1>
    <a href="site2"> GO TO PAGE 2</a>
</body>
</html>