{% load static %}


<nav id="main-navbar" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="home">
      <img src="{% static 'img/ualg-logo.png' %}" alt="FCT">
    </a>

    
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Pedidos
        </a>
        <div class="navbar-dropdown">
          <a href="{% url 'main:Sala'%}" class="navbar-item">Sala</a>
          <a href="{% url 'main:site2'%}" class="navbar-item">Horarios</a>
          <a href="{% url 'main:UnidadeCurricular'%}" class="navbar-item">Unidades Curriculares</a>
          <a href="{% url 'main:outros'%}" class="navbar-item">Outros</a>
        </div>
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
          <a href="{% url 'main:tablePedidos'%}" class="navbar-item">Meus Pedidos</a>
       
      </div>
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Upload
        </a>
        <div class="navbar-dropdown">
          <a href="{% url 'main:upload_RUC'%}" class="navbar-item">Import RUC</a>
          <a href="{% url 'main:upload_DSD'%}" class="navbar-item">Import DSD</a>
          <a href="{% url 'main:Upload_Docentes'%}" class="navbar-item">Import Docentes</a> 
          <a href="{% url 'main:Upload_Salas'%}" class="navbar-item">Import Salas</a> 

        </div>
      </div>
    <div class="navbar-item has-dropdown is-hoverable">
      <a href="tableEstatisticaPedido" class="navbar-item">Estatistica Pedidos</a>
    </div>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Ano Letivo
        </a>
        <div class="navbar-dropdown">
        <a href="{% url 'main:AnoLetivo' %}" class="navbar-item">Criar Ano Letivo</a>
        <a href="{% url 'main:tableAL' %}" class="navbar-item">Tabela Ano Letivo</a>
      </div>
  </div>
      </div>
      <div class="navbar-end">
      <a href="register" class="navbar-item">
        Registo
      </a>
      <a href="" class="navbar-item">
        Login
      </a>
      </div>
   

    

</nav>
      


{% block scripts %}
<script>
 
</script>

{% endblock scripts %}