{% load static %}
{% load poll_extras %}


<nav id="main-navbar" class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item logo" href="{% url 'main:home'%}">
      <img src="{% static 'img/ualg-logo.png' %}" alt="FCT">
    </a>

    
  </div>

  <div class="navbar-menu">
    <div class="navbar-start">
      {% if request.user|has_group:'Docente' %}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Pedidos
        </a>
        <div class="navbar-dropdown">
          <a href="{% url 'main:Sala'%}" class="navbar-item">Sala</a>
          <a href="{% url 'main:site2'%}" class="navbar-item">Horarios</a>
          <a href="{% url 'main:UnidadeCurricular'%}" class="navbar-item">Unidades Curriculares</a>
          <a href="{% url 'main:outros'%}" class="navbar-item">Outros</a>
        </div>
      </div>
      {% endif %}
      <div class="navbar-item has-dropdown is-hoverable">
          <a href="{% url 'main:tablePedidos'%}?page=1" class="navbar-item">Meus Pedidos</a>
       
      </div>
      {% if request.user|has_group:'Docente' %}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Upload
        </a>
        <div class="navbar-dropdown">
          <a href="{% url 'main:upload_RUC'%}" class="navbar-item">Import RUC</a>
          <a href="{% url 'main:upload_DSD'%}" class="navbar-item">Import DSD</a>
          <a href="{% url 'main:Upload_Docentes'%}" class="navbar-item">Import Docentes</a> 
          <a href="{% url 'main:Upload_Salas'%}" class="navbar-item">Import Salas</a> 

        </div>
      </div>
      {% endif %}
    <div class="navbar-item has-dropdown is-hoverable">
      <a href="tableEstatisticaPedido" class="navbar-item">Estatistica Pedidos</a>
    </div>
    
    {% if request.user|has_group:'Docente' %}
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Ano Letivo
        </a>
        <div class="navbar-dropdown">
        <a href="{% url 'main:AnoLetivo' %}" class="navbar-item">Criar Ano Letivo</a>
        <a href="{% url 'main:tableAL' %}" class="navbar-item">Tabela Ano Letivo</a>
      </div>
  </div>
{% endif %}
  {% if request.user|has_group:'Administrador' %}
  <div class="navbar-item has-dropdown is-hoverable">
    <a href="{% url 'main:consultar-utilizadores' %}" class="navbar-item">
      Utilizadores
    </a>
  </div>
{% endif %}
      </div>
      {% if user.is_authenticated %}
      <div class="navbar-end">
       <p class="navbar-item"> Bem Vindo {{user.first_name}} {{user.last_name}}</p>
        <a href="{% url 'main:logout' %}" class="navbar-item">
          <div type="button" class="button">
            <span class="icon is-small">
              <i class="mdi mdi-login-variant"></i>
            </span>
            <span>Sair</span>
          </div>
        </a>
        {% else %}
      <a href="{% url 'main:escolher' %}" class="navbar-item">
        Registo
      </a>
      <a href="{% url 'main:login' %}" class="navbar-item">
        Login
      </a>
      {% endif %}
      </div>
   

    

</nav>
      


{% block scripts %}
<script>
 
</script>

{% endblock scripts %}