{% extends 'main/app.html' %}
{% load static %}
{% block content %}




<div class="column is-align-items-center" style="margin-top: 15%;">
<h1 class="title has-text-centered">Tem a certeza que quer guardar este Pedido?</h1>
<form action="{% url 'main:notific' %}" method="POST">
<div class="buttons is-centered">
    {% csrf_token%}
    <button class="button is-success" name="Confirm">Confirmar</button>
    <a class="button is-danger" href="{% url 'main:tableHorario' %}">Cancel</a>
</div>
</form>
</div>


{% endblock content %}