
{% extends 'main/app.html' %}

{% block title %}- Pedido Unidade Curricular{% endblock title %}

{% block content %}

{% load static %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<div>
    <form id="form" method="POST">{% csrf_token %}
        {{form}}
  <div class="section">
    <div class="column">
        <div class="columns is-centered">
            
        <div class="column is-7">
            <h1 class="title has-text-centered">Pedidos Unidade Curricular</h1>
            <div id="succes" {% if succes %}style="display: block;"{% endif %}>{{ succes }}</div>
            <div id="error" {% if error %}style="display: block;"{% endif %}>{{ error }}</div>
              <div class="field">
                <label class="label">Assunto</label>
                <input class="input" type="text" id="assunto" name="assunto" value="{{assunto}}" required>
               
              </div>
          
         
          
          <div class="field">
            <label class="label">Descrição</label>
            <div class="control">
              <textarea class="textarea" id="desc" placeholder="Escreva os detalhes do pedido" name="desc" required>{{ desc }}</textarea>
            </div>
          </div>
          <div class="field">
            <label class="label">Dia</label>
           
                <input type="date" id="data" name="data" value="{{ dia|date:'Y-m-d' }}" required>
          </div>
          
          
          
          <br>
          <ul>
          {% for ph in pedido_horario %}
          <li>
          <div id="novo-campo-uc"><div class="field is-horizontal">
            <div class="field-body">
              <div class="field">
            <label class="label" style="white-space: nowrap;">Unidade Curricular</label>
            <div class="control">
              <div class="select">
                <select name="unc" id="unc" maxlength="50"  style="width: 300px;">
                  {% for u in UC %}
                    {% if u.Regência == ph.uc %}
                      <option selected>{{ u.Regência }}</option>
                    {% else %}
                      <option>{{ u.Regência }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
            </div>
          </div>
          <div class="field">
            <label class="label" style="white-space: nowrap;">Tarefa</label>
            <div class="control">
              <div class="select">
                <select name="tarefa" id="tarefa">
                  <option value="Criar" {% if ph.tarefa == 'Criar' %} selected {% endif %}>Criar</option>
                  <option value="Editar" {% if ph.tarefa == 'Editar' %} selected {% endif %}>Editar</option>
                  <option value="Apagar" {% if ph.tarefa == 'Apagar' %} selected {% endif %}>Apagar</option>
                </select>
              </div>
            </div>
          </div>
                    <div class="field">
                     <label class="label">Regente</label>
                      <div class="control">
                        <input class="input" id="regente" placeholder="Escreva os detalhes do pedido" name="regente" value="{{ ph.regente }}" required>
                      </div>
                    </div>
                    <div class="field">
                        <label class="label">Descrição</label>
                         <div class="control">
                           <input class="input" id="descri" placeholder="Escreva os detalhes do pedido" name="descri" value="{{ ph.descri }}" required>
                         </div>
                       </div>
                  </div>
                  </div>
                  {% empty %}
                  <li>Não há pedidos horários para este pedido.</li>
              {% endfor %}
                </ul>
          <br>
          <input type="hidden" id="num-requests-input" name="num_requests" value="0">

          
          <div id="popup" class="modal">
            <div class="modal-background"></div>
            <div class="modal-content">
              <div class="box">
                <p>Submissão feita com sucesso!</p>
                <div class="buttons">
                  <button id="confirm-btn" class="button is-success">OK</button>
                </div>
              </div>
            </div>
            <button class="modal-close is-large" aria-label="close"></button>
          </div>
          
          <div class="field is-grouped">
            <div class="control">
              <button id="submit-btn" class="button is-link">Submit</button>
            </div>
            <div class="control">
              <button id="cancel-btn" class="button is-link is-light" onclick="window.location.reload()">Cancel</button>
        
            </div>
          </div>
    </div>
  </div>
</div>
</div>
</form>
</div>
<script>
  const cancelButton = document.querySelector('#cancel-btn');
 cancelButton.addEventListener('click', function(event) {
   event.preventDefault();
   const form = document.querySelector('form');
   form.reset();
 });



  function hidePopUp() {
    // Get the pop-up element
    var popup = document.getElementById("popup");

    // Hide the pop-up
    popup.classList.remove("is-active");
  }



const forms = document.getElementById('form');
const errorElement = document.getElementById('error');




function showPopUp(event) {
    event.preventDefault();

    if (validateForm()) {
      // Get the pop-up element
      var popup = document.getElementById("popup");

      // Show the pop-up
      popup.classList.add("is-active");

      // Get the confirm and cancel buttons
      var confirmBtn = document.getElementById("confirm-btn");

      // Add click listeners to the buttons
      confirmBtn.addEventListener("click", submitForm);
      setTimeout(function() {
          popup.style.display = "none";
      }, 5000); // Wait for 5 seconds before hiding the popup
    }
  }

  function hidePopUp() {
    // Get the pop-up element
    var popup = document.getElementById("popup");

    // Hide the pop-up
    popup.classList.remove("is-active");
  }

  function submitForm() {
    // Submit the form
    document.getElementById("submit-btn").click();
  }


  function validateForm() {
    // Get the values of the form inputs

    const assunto = document.querySelector('#assunto').value;
    const data = document.querySelector('#data').value;
    const desc = document.querySelector('#desc').value;
    const descri = document.querySelector('#descri').value;
    
    const hora_fim = document.querySelector('#hora_fim').value;
    const hora_inicio = document.querySelector('#hora_inicio').value;
    const erorr = document.querySelector('#error').value;


    // Check if any of the required fields are empty
    if (!assunto || !desc || !data || !hora_inicio || !hora_fim || !descri)  {
      const errorElement = document.getElementById('error');
      errorElement.innerText = 'Preencha todos os campos corretamente!';
      errorElement.style.display = 'block';
      return false;
    }
    const errorElement = document.getElementById('error');
    errorElement.style.display = 'none';

    // Check if the format of the start and end times are valid
  const horaRegex = /^\d{2}:\d{2}:\d{2}$/;
  if (!horaRegex.test(hora_inicio) || !horaRegex.test(hora_fim)) {
    const errorElement = document.getElementById('error');
    errorElement.innerText = 'Formato inválido de hora!';
    errorElement.style.display = 'block';
    return false;
  }
  if(erorr != null){
      const errorElement = document.getElementById('error');
      errorElement.innerText = 'maneel!';
      errorElement.style.display = 'block';
      return false;
  }
    return true;
  }


  document.getElementById("frase").addEventListener("click", adicionarCampo);
  function adicionarCampo() {
  var novoCampo = document.createElement("div");
  novoCampo.innerHTML = '<div class="field is-horizontal">' +
  '<div class="field-body">' +
    '<div class="field">' +
  '<label class="label" style="white-space: nowrap;">Unidade Curricular</label>' +
  '<div class="control">' +
    '<div class="select">' +
      '<select name="unc" id="unc">' +
        '{% for u in UC %}' +
          '{% if u.NomeDaUC == unc %}' +
            '<option selected>{{ u.NomeDaUC }}</option>' +
          '{% else %}' +
            '<option>{{ u.NomeDaUC }}</option>' +
          '{% endif %}' +
        '{% endfor %}' +
      '</select>' +
    '</div>' +
  '</div>' +
'</div>' +
    '<div class="field">' +
            '<label class="label">Hora de Inicio</label>' +
            '<input class="input" type="text" id="hora_inicio" name="hora_inicio" placeholder="HH:MM:SS" value="{{ hora_inicio|time:"H:i:s" }}" required>' +
          '</div>'+
          '<div class="field">' +
           '<label class="label">Hora de Fim</label>'+
           '<input class="input" type="text" id="hora_fim" name="hora_fim" placeholder="HH:MM:SS" value="{{hora_fim|time:"H:i:s"}}"required>'+
          '</div>' +
          '<div class="field">' +
      '<label class="label">Tarefa</label>' +
      '<div class="control">' +
        '<div class="select">' +
          '<select name="tarefa" id="tarefa">' +
            '<option value="Criar">Criar</option>' +
            '<option value="Editar">Editar</option>' +
            '<option value="Apagar">Apagar</option>' +
          '</select>' +
        '</div>' +
      '</div>' +
    '</div>' +
          '<div class="field">'+
           '<label class="label">Descrição</label>'+
            '<div class="control">'+
              '<input class="input" id="descri" placeholder="Escreva os detalhes do pedido" name="descri" required>{{ descri }}</textarea>'+
            '</div>' +
          '</div>' +
    '<div class="field  ">' +
      '<div class="control">' +
        '<label class="label"></label>'+
        '<br>' +
        '<button type="button" class="button is-danger is-active remover-campo">Remover</button>' +
      '</div>' +
    '</div>' +
  '</div>' +
'</div>';
  document.getElementById("novo-campo-uc").appendChild(novoCampo);
  var botoesRemover = document.getElementsByClassName("remover-campo");
  for (var i = 0; i < botoesRemover.length; i++) {
    botoesRemover[i].addEventListener("click", function() {
      this.closest('.field.is-horizontal').remove();
    });
  }
}
 </script>
 <style>
  #error {
  display: none;
  background-color: red;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
}
#succes {
  display: none;
  background-color: green;
  text-align: center;
  color: white;
  padding: 10px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
}
 </style>

{% endblock content%}

