{% extends 'main/app.html' %}
{% load static %}
{% block content %}


<style>
   .columns-container {
    display: flex;
    justify-content: space-between;
  }
  .filters-column {
    width: 30%;
    margin-right: 20px;
  }
  .table-column {
    width: 70%;
  }
  .columns-container::after {
    content: "";
    display: table;
    clear: both;
  }
  
    table {
      width: 100%;
      table-layout: fixed
      ;  
    }
    table th:first-child {
    max-width: 100px;
    min-width: 100px;
}

table th:nth-child(2) {
    max-width: 600px;
    min-width: 1000px;
    overflow: visible;
    white-space: normal;
    word-wrap: break-word;
}

table th:nth-child(3) {
    max-width: 100px;
}

table th:nth-child(4),
table th:nth-child(5) {
    max-width: 150px;
}
.notification {
  position: fixed;
  bottom: 50px;
  right: 10px;
}
.popup-container {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: #66BB6A;
      padding: 20px;
      border: 1px solid black;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 999;
      border-radius: 10px;
      color: white;
    }
    .pagination a:hover {
    background-color: #ddd;
  }
    .pagination a {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 5px;
    background-color: #f5f5f5;
    color: #333;
    text-decoration: none;
    border: 1px solid #ddd;
    border-radius: 3px;
  }
  .centered-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.rejeitado {
  color: #9e0000; /* cor do texto para o estado "registado" */
}
.registado {
  color: #00159e; /* cor do texto para o estado "registado" */
}

.em-analise {
  color: #959700; /* cor do texto para o estado "em_analise" */
}

.concluido {
  color: #008000; /* cor do texto para o estado "concluido" */
}
  </style>
<div class="columns is-small">
  {% if success %}
    <div class="popup-container">
      <div class="alert alert-success">{{ success }}</div>
    </div>
  {% endif %}
  <div class="column is-one-fifth">
    <ul class="menu-list is-small">
      <li class="is-not-menu">
        <a>Filtros Pedido</a>
        <ul class="is-menu ">
        
    <li style="margin-bottom: 5px;">
      <div class="field is-small">
        <div class="control has-icons-left">
          
          <form method="get">
            <input class="input is-small" type="text" placeholder="Assunto" name="assunto" value="{{ myFilter.data.assunto }}">
            
          
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </li>
    <li style="margin-bottom: 10px;">
      <div class="field is-small">
        <div class="control has-icons-left">
          <input class="input is-small" type="text" placeholder="Descrição" name="desc" value="{{ myFilter.data.desc }}">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </li>
    <li style="margin-bottom: 10px;">
      <div class="field is-small">
        <div class="control has-icons-left">
          <input class="input is-small" type="text" placeholder="Tipo" name="tipo" value="{{ myFilter.data.tipo }}">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </li>
    <li style="margin-bottom: 10px;">
      <div class="columns" >
        <div class="column">
          <div class="field is-small">
            <div class="control has-icons-left">
              <input class="input is-small" type="text" placeholder="De mm/dd/aaaa" name="start_date" value="{{ myFilter.data.start_date }}">
              <span class="icon is-small is-left">
                <i class="fas fa-clock"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="field">
            <div class="control has-icons-left">
              <input class="input is-small" type="text" placeholder="Até mm/dd/aaaa">
              <span class="icon is-small is-left">
                <i class="fas fa-clock"></i>
              </span>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li style="margin-bottom: 10px;">
      <div class="field is-small">
        <div class="control has-icons-left">
          <input class="input is-small" type="text" placeholder="Status" name="Status" value="{{ myFilter.data.status }}">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </li>
    <li style="margin-bottom: 10px;">
      <div class="field is-small">
        <div class="control has-icons-left">
          <input class="input is-small" type="text" placeholder="Estado Atribuição" name="Estado Atribuição" value="{{ myFilter.atribuido }}">
          <span class="icon is-small is-left">
            <i class="fas fa-search"></i>
          </span>
        </div>
      </div>
    </li>
    <button class="button is-info" type="submit">Search</button>
  </ul>
</li>
</ul>
</div>

          </form>
<div class="column2 is-centered ">

 
  <table class="table is-striped">
    <thead>
      <tr>
        <th>Assunto</th>
        <th>Descrição</th>
        <th><abbr title="Dia">Dia</abbr></th>
        <th>Tipo</th>
        <th>Status</th>
        <th>Estado Atribuição</th>
        <th>View</th>
        {% if u == 'Funcionario' %}
        <th>Associar</th>
        {% endif %}
        {% if u == 'Docente' %}
        <th>Update</th>
        <th>Remove</th>
        {% endif %}
      </tr>
    </thead>
    {% for n in Pedido %}
      <tbody>
        <tr>
          <td>{{n.assunto|linebreaksbr|truncatechars:10}}</td>
          <td class="wide-column2">{{n.desc|linebreaksbr|truncatechars:10 }}</td>
          <td>{{n.dia}}</td>
          <td>{{n.tipo}}</td>
          <td class="{% if n.status == 'Registado' %}registado{% elif n.status == 'Em Análise' %}em-analise{% elif n.status == 'Concluido' and n.status == 'Aprovado' %}concluido{% elif n.status == 'Rejeitado' %}rejeitado{% endif %}">{{n.status}}</td>

      
          <td>{{n.atribuido}}</td>
          
          <td><a class="button is-info view-button" href="{% url 'main:tablePedidos2' n.id %}">View</a></td>
          {% if u == 'Funcionario' %}
          {% if n.atribuido == 'Não Atribuido'%}
          <td><button id="expand-btn-2" class="button is-info2">Associar</button></td>
          {% else %}
          <form onsubmit="myFunction()" method="POST">
          {% csrf_token %}
          <input type="hidden" name="pedido_id" value="{{ n.id }}">
          <td><button class="button is-info2_desa" type="submit" name="desassociar" value="{{ n.id }}" id="desassociar-{{ n.id }}" >Desassociar</button></td>
        </form>
          {%endif%}
          {%endif%}
          {% if u == 'Docente' %}
          {% if n.status != 'Rejeitado' and n.status != 'Concluido' %}
          {% if n.tipo == 'Horário'%}
            <td><a class="button is-warning is-active" href="{% url 'main:update_horario' n.id %}">Update</a></td>
            {% endif %}
            {% if n.tipo == 'Sala' %}
            <td><a class="button is-warning is-active" href="{% url 'main:update_Sala' n.id %}">Update</a></td>
          {% endif %}
          {% if n.tipo == 'Outros' %}
            <td><a class="button is-warning is-active" href="{% url 'main:update_Sala' n.id %}">Update</a></td>
          {% endif %}
          {% if n.tipo == 'Unidade Curricular' %}
            <td><a class="button is-warning is-active" href="{% url 'main:update_UC' n.id %}">Update</a></td>
          {% endif %}
          {% endif %}
          {% if n.status != 'Concluído' and n.status != 'Em processamento' and n.status != 'Rejeitado' and n.atribuido != 'Atribuido'  %}
            <td><a class="button is-danger is-active" href="{% url 'main:delete_horario' n.id %}">Delete</a></td>
          {% endif %}
          {% endif %}
        </tr>
        <tr class="hidden-row2" style="text-align: center">
          <td colspan="8">
            <form onsubmit="myFunction()" method="POST">
              {% csrf_token %}
              <input type="hidden" name="pedido_id" value="{{ n.id }}">
            <div class="pedido-details2" style="text-align: center">
              <table style="text-align: center">
                <thead>
                  <tr>
                    <th >Status</th>
                  </tr>
                </thead>
                <tbody>
                  <td>
                  <div class="select" style="text-align: center" >
                    <select name="funcionari" id="funcionari">
                      <option value="Em Análise">Em Análise</option>
                      <option value="Rejeitado">Rejeitado</option>
                      <option value="Aprovado">Aprovado</option>
                  </select>
                  </div>
                  <button class="button is-info view-button3"type="submit" id="sai" style="text-align: center">Done</button>
                  </td>
                </form>
                    
                
                </tbody>
      
           
              </table>
          
            </div>
          </td>
        </tr>
  
      </tbody>
    {% endfor %}

  </table>

  <div id="msg-container"></div>
  
</div>
</div>
<div class="pagination is-centered centered-pagination">
  {% if Pedido.has_previous %}
    <a href="?page={{ Pedido.previous_page_number }}">Anterior</a>
  {% endif %}

  {% for num in Pedido.paginator.page_range %}
    {% if num == Pedido.number %}
      <span class="pagination-link is-current">{{ num }}</span>
    {% else %}
      <a href="?page={{ num }}" class="pagination-link">{{ num }}</a>
    {% endif %}
  {% endfor %}

  {% if Pedido.has_next %}
    <a href="?page={{ Pedido.next_page_number }}">Próxima</a>
  {% endif %}
</div>
<script>
   window.addEventListener('DOMContentLoaded', function() {
    var popup = document.querySelector('.popup-container');
    popup.style.display = 'flex';

    // Esconder o pop-up após 3 segundos
    setTimeout(function() {
      popup.style.display = 'none';
    }, 3000);
  });
  
  function sortTable(columnIndex) {
  var table = document.querySelector('.table');
  var rows = Array.from(table.querySelectorAll('tbody tr'));

  // Ordena as linhas com base nos dados da coluna
  rows.sort(function(a, b) {
    var textA = a.children[columnIndex].textContent.trim();
    var textB = b.children[columnIndex].textContent.trim();
    return textA.localeCompare(textB);
  });

  // Remove as linhas existentes da tabela
  rows.forEach(function(row) {
    row.remove();
  });

  // Adiciona as linhas classificadas à tabela na ordem correta
  rows.forEach(function(row) {
    table.querySelector('tbody').appendChild(row);
  });
}

// Adiciona o evento de clique a cada coluna de cabeçalho
var thElements = document.querySelectorAll('thead th');
thElements.forEach(function(th, index) {
  th.addEventListener('click', function() {
    sortTable(index);
  });
});

  

  // Ocultar as linhas "hidden-row" quando a página é carregada
document.querySelectorAll('.hidden-row2').forEach(function(row) {
row.style.display = 'none';
});
// Quando o botão "Associar" é clicado, exibir os detalhes do pedido
document.querySelectorAll('.button.is-info2').forEach(function(button) {
button.addEventListener('click', function(event) {
// Encontre o elemento pai "tr"
var row = event.target.closest('tr');
// Encontre a próxima linha oculta com a classe "hidden-row"
var hiddenRow = row.nextElementSibling;
while (hiddenRow && !hiddenRow.classList.contains('hidden-row2')) {
hiddenRow = hiddenRow.nextElementSibling;
}
// Exiba a linha oculta
// Exiba ou oculte a linha oculta
if (hiddenRow.style.display === 'none') {
hiddenRow.style.display = 'table-row';
} else {
hiddenRow.style.display = 'none';
}
});
});

function myFunction() {
  document.getElementById("green-rectangle").style.display = "block";
  document.forms[0].submit();
}


 // exibe a mensagem de sucesso no canto inferior direito
 var msg = $('<div>').addClass('notification is-success').text('Ano letivo selecionado com sucesso.');

$('#msg-container').append(msg);

// esconde a mensagem após 3 segundos
setTimeout(function() {
  msg.fadeOut(300, function() {
    $(this).remove();
  });
}, 1000);

    // Cria o elemento do alerta de sucesso
    var successAlert = $('<div>').addClass('alert alert-success').text('{{ success }}');

    // Adiciona o alerta ao DOM
    $('.columns.is-centered').prepend(successAlert);

    // Esconde o alerta após 3 segundos
    setTimeout(function() {
      successAlert.fadeOut(300, function() {
        $(this).remove();
      });
    }, 3000);

  

</script>

<style>
  .hidden-row {
      display: none;
  }
  .pedido-details {
      padding: 10px;
      background-color: #f5f5f5;
      border-bottom: 1px solid #ddd;
  }

  .hidden-row2 {
      display: none;
  }
  .pedido-details2 {
      padding: 10px;
      background-color: #f5f5f5;
      border-bottom: 1px solid #ddd;
  }
  #popup-container {
  position: relative;
}

#popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  border: 1px solid black;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  display: none;
}
  

</style>

  {% endblock content %}