{% extends 'main/app.html' %}
{% load static %}
{% block content %}
<style>
    table {
      width: 100%;
      table-layout: fixed
      ;  
    }
    table th:first-child {
    max-width: 100px;
    min-width: 100px;
}

table th:nth-child(2) {
    max-width: 600px;
    min-width: 1000px;
    overflow: visible;
    white-space: normal;
    word-wrap: break-word;
}

table th:nth-child(3) {
    max-width: 100px;
}

table th:nth-child(4),
table th:nth-child(5) {
    max-width: 150px;
}
  </style>
<div class="columns is-centered">

<table class="table is-striped">
    <thead>
      <tr>
        <th>Ano Letivo</th>
        <th>Inicio</th>
        <th>Fim</th>
        <th>Ativo</th>
        <th>Update</th>
        <th>Remove</th>
        </th>
      </tr>
    </thead>
    <tbody>
        {% for n in AnoLetivo %}
      <tr>
        <td>{{n.anoletivo}}</td>
        <td>{{n.datainicio}}</td>
        <td>{{n.datafinal}}</td>
        <td> <form method="POST">
          {% csrf_token %}
          <input type="hidden" name="ano_id" value="{{ n.id }}">
        <button type="submit" name="ativo" value="true" class="button {% if n.ativo %}is-success{% else %}is-light{% endif %}">Sim</button>
        <button type="submit" name="ativo" value="false" class="button {% if not n.ativo %}is-danger{% else %}is-light{% endif %}">Não</button>
      </form></td>
        <td ><a class="button is-warning is-active" href="{% url 'main:update_AL' n.id %}">Update</button></td>
        <td ><a class="button is-danger is-active" href="{% url 'main:delete_AL' n.id %}">Delete</button></td>
      </tr>
 
    </tbody>
    {%endfor%}
  </table>
</div>
  {% endblock content %}