{% extends 'main/app.html' %}
{% load static %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.1.4/dist/sweetalert2.min.js"></script>

<style>
    table {
      width: 100%;
      table-layout: fixed
      ;  
    }
    table th:first-child {
    max-width: 100px;
    min-width: 100px;
}

table th:nth-child(2) {
    max-width: 600px;
    min-width: 1000px;
    overflow: visible;
    white-space: normal;
    word-wrap: break-word;
}

table th:nth-child(3) {
    max-width: 100px;
}

table th:nth-child(4),
table th:nth-child(5) {
    max-width: 150px;
}
.notification {
  position: fixed;
  bottom: 50px;
  right: 10px;
}
  </style>
<div class="columns is-centered">
 
  <table class="table is-striped">
    <thead>
      <tr>
        <th>Assunto</th>
        <th>Descrição</th>
        <th><abbr title="Dia">Dia</abbr></th>
        <th>Tipo</th>
        <th>Status</th>
        <th>Estado Atribuição</th>
        <th>View</th>
        <th>Associar</th>
        <th>Update</th>
        <th>Remove</th>
      </tr>
    </thead>
    {% for n in Pedido %}
      <tbody>
        <tr>
          <td>{{n.assunto|linebreaksbr|truncatechars:20}}</td>
          <td class="wide-column">{{n.desc|linebreaksbr|truncatechars:20 }}</td>
          <td>{{n.dia}}</td>
          <td>{{n.tipo}}</td>
          <td>{{n.status}}</td>
      
          <td>{{n.atribuido}}</td>
        
          <td><button class="button is-info view-button" data-pedido-id="{{n.id}}">View</button></td>
          {% if n.atribuido == 'Não Atribuido' %}
          <td><button id="expand-btn-2" class="button is-info2">Associar</button></td>
          {% else %}
          <td></td>
          {%endif%}
          {% if n.status != 'Criado' %}
            <td><a class="button is-warning is-active" href="{% url 'main:update_horario' n.id %}">Update</a></td>
          {% endif %}
          {% if n.status != 'Concluído' and n.status != 'Em processamento' and n.status != 'Rejeitado' %}
            <td><a class="button is-danger is-active" href="{% url 'main:delete_horario' n.id %}">Delete</a></td>
          {% endif %}
        </tr>
        <tr class="hidden-row">
          <td colspan="10">
            <div class="pedido-details">
              <table>
                <thead>
                  <tr>
                    <th>Unidades Curriculares</th>
                    <th>Hora de Inicio</th>
                    <th>Hora de Fim</th>
                    <th>Dia</th>
                    <th>Descrição</th>
                    <th>Tarefa</th>
                  </tr>
                </thead>
                <tbody>
                  {% for items in item %}
                    {% if items.pedido.id == n.id %}
  
                      <tr>
                        <td>{{items.uc}}</td>
                        <td>{{items.hora_inicio|time:"H:i:s"}}</td>
                        <td>{{items.hora_fim|time:"H:i:s"}}</td>
                        <td>{{items.dia}}</td>
                        <td>{{items.descri}}</td>
            
                
                        <td>{{items.tarefa}}</td>
                      </tr>
                    {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <tr class="hidden-row2" style="text-align: center">
          <td colspan="10">
            <form onsubmit="myFunction()" method="POST">
              {% csrf_token %}
              <input type="hidden" name="pedido_id" value="{{ n.id }}">
            <div class="pedido-details2" style="text-align: center">
              <table style="text-align: center">
                <thead>
                  <tr>
                    <th >Funcionário</th>
                  </tr>
                </thead>
                <tbody>
                  <td>
                  <div class="select" style="text-align: center" >
                    <select name="funcionari" id="funcionari">
                      {% for fu in funcio %}
                          <option>{{ fu.nome }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <button class="button is-info view-button3"type="submit" id="sai" style="text-align: center">Done</button>
                  </td>
                </form>
                    
                      
                </tbody>
              </table>
            </div>
          </td>
        </tr>
      </tbody>
    {% endfor %}
  </table>
  <div id="msg-container"></div>
  
</div>
<script>
  // Ocultar as linhas "hidden-row" quando a página é carregada
  document.querySelectorAll('.hidden-row').forEach(function(row) {
      row.style.display = 'none';
  });

  // Quando o botão "View" é clicado, exibir os detalhes do pedido
  document.querySelectorAll('.button.is-info').forEach(function(button) {
      button.addEventListener('click', function(event) {
          // Encontre o elemento pai "tr"
          var row = event.target.closest('tr');
          // Encontre a próxima linha oculta com a classe "hidden-row"
          var hiddenRow = row.nextElementSibling;
          while (hiddenRow && !hiddenRow.classList.contains('hidden-row')) {
              hiddenRow = hiddenRow.nextElementSibling;
          }
          // Exiba a linha oculta
          // Exiba ou oculte a linha oculta
          if (hiddenRow.style.display === 'none') {
              hiddenRow.style.display = 'table-row';
          } else {
              hiddenRow.style.display = 'none';
          }
      });
  });

  // Ocultar as linhas "hidden-row" quando a página é carregada
document.querySelectorAll('.hidden-row2').forEach(function(row) {
row.style.display = 'none';
});
// Quando o botão "Associar" é clicado, exibir os detalhes do pedido
document.querySelectorAll('.button.is-info2').forEach(function(button) {
button.addEventListener('click', function(event) {
// Encontre o elemento pai "tr"
var row = event.target.closest('tr');
// Encontre a próxima linha oculta com a classe "hidden-row"
var hiddenRow = row.nextElementSibling;
while (hiddenRow && !hiddenRow.classList.contains('hidden-row2')) {
hiddenRow = hiddenRow.nextElementSibling;
}
// Exiba a linha oculta
// Exiba ou oculte a linha oculta
if (hiddenRow.style.display === 'none') {
hiddenRow.style.display = 'table-row';
} else {
hiddenRow.style.display = 'none';
}
});
});

function myFunction() {
  document.getElementById("green-rectangle").style.display = "block";
  document.forms[0].submit();
}


 // exibe a mensagem de sucesso no canto inferior direito
 var msg = $('<div>').addClass('notification is-success').text('Ano letivo selecionado com sucesso.');

$('#msg-container').append(msg);

// esconde a mensagem após 3 segundos
setTimeout(function() {
  msg.fadeOut(300, function() {
    $(this).remove();
  });
}, 1000);
</script>

<style>
  .hidden-row {
      display: none;
  }
  .pedido-details {
      padding: 10px;
      background-color: #f5f5f5;
      border-bottom: 1px solid #ddd;
  }

  .hidden-row2 {
      display: none;
  }
  .pedido-details2 {
      padding: 10px;
      background-color: #f5f5f5;
      border-bottom: 1px solid #ddd;
  }

  

</style>

  {% endblock content %}